body {
  background-image: url("images/tlo111.jpg");
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 0px;
  margin-bottom: 1px;
  width: 99%;
}

div.panel12 {
  width: 100%;
  overflow: auto;
  word-wrap: break-word;
}


div.panel10 {
width: 95%;
min-width: 350px;
max-width: 70%;
background-color: #002030;
border: 2px solid black;
filter: alpha(opacity=60);
opacity: 0.7;
-moz-opacity: 0.7;
}
div.panel10 p {
margin: 4px 4px 4px 4px;
}

div.panel11 {
background-color: rgba(0,0,0,0.5);
border: 2px solid black;
min-width: 350px;
max-width: 70%;
}




a {
  text-decoration: none;
}
a:hover {
  background-color: brown;
}


